
<div class="container events">
  <h1 class="events-title">Upcoming Events</h1>

  <p><% @events.each do |event| %>
    <div class="row event"><a href="www.google.com">
      <div class="col-md-6">
        <h4 class="single-event"><p>Event: <a href="/events/<%= event.id %>"><%= "#{event.name}" %></a><%= "| Date: #{event.date} | Location: #{event.venue.name} | Comedian:"%><a href="/comedians/<%= event.comedian.id %>"><%=" #{event.comedian.first_name} #{event.comedian.last_name}"%></a></p></h4>
      </div>
      <div class="col-md-6">
       <form method="post" action="/events/<%= event.id %>">
       <input type="hidden" name="_method" value="delete">
    <h3><button style="position:relative; top: 10px;float:right;"class="btn btn-danger" type="submit">Delete</button>
    </form>
        <img class="comedian-image" src="http://www.thecomedymix.com/wp-content/uploads/2015/05/Brian-Scolaro-210x170.jpg" height="120" width="120">
        </div>
    </div>
    </a>
    <% end %>
  </p>
  

</div>
</a>

<hr>
</div>
