
<div class="container events">
  <h1 class="events-title">Upcoming Events</h1>

  
  <% @events.each do |event| %>
    <div class="row event">
      <div class="col-md-6">
          <p> Event: <a href="/events/<%= event.id %>"><%= "#{event.name}" %></a>  
          <%= "<br> Date: #{date_format(event.date)} <br> Location: #{event.venue.name} <br> Comedian:"%>
          <a href="/comedians/<%= event.comedian.id %>"><%=" #{event.comedian.first_name} #{event.comedian.last_name}"%></a>
          </p>
        </a> 
      </div>   
      <img class="comedian-image" src="http://www.thecomedymix.com/wp-content/uploads/2015/05/Brian-Scolaro-210x170.jpg" height="120" width="120"/>   
    </div> <!-- row event div -->
  <% end %>




  <div class="row">
    <div class="col-md-offset-9">
    <%= will_paginate @events %>
    </div>
  </div>

  

<hr>
</div> <!-- closing main div -->
