<div class="container jumbo-event">
  <div class="container">
    <div class="venue-jumbo">
    </div>
  </div>
</div>

<div class="container event-show">
  <h1><%= "#{@comedian.first_name} #{@comedian.last_name}"%></h1>
  <hr>
  <div class="row">
    <div class="col-md-7 comedian-info-item">
      <p><%= "#{@comedian.description}" %></p>
      </p>
    </div> 
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <img class="comedian-image" src="<%= @comedian.picture_url %>" height="466" width="349">
    </div>
  </div>  
  
  <div class="container">
  <h3><em>Other events by <%= "#{@comedian.first_name} #{@comedian.last_name}" %></em></h3>
    <div class="col-sm-6 col-md-4 other-event">
      <% @events.each do |event| %>
        <div class="caption">
          <h3><%= "#{event.name}"%></h3>        
          <a href="/events/<%= event.id%>">  
          <div class="thumbnail">
            <img class="home-comedians" src="<%= event.picture_url %>" alt="...">
          </div>
          </a>
        </div>    
      <%end%>  
    </div> 
  </div>
<hr>
</div>


