require 'twitter'

<h1>Comedian</h1>

<h2><%= "#{@comedian.first_name} #{@comedian.last_name} #{@comedian.get_tweets} |  ".capitalize %> <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet">
Tweet</a></h2>

<p><img src="<%= "#{@comedian.picture_url}" %>"/></p>
<a class="twitter-timeline" href="https://twitter.com/<%="#{@comedian.first_name}".capitalize%><%="#{@comedian.last_name}".capitalize%>" data-widget-id=<%= "#{@comedian.widget_id}"%>>Tweets by @<%="#{@comedian.first_name}".capitalize%><%="#{@comedian.last_name}".capitalize%></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<br>

<% @events.each do |event| %>
<a href="/events/<%= event.id %>"><%= event.name %></a>
<%end%>
</div>



<div class="container jumbo-event">
  <div class="container">
    <div class="venue-jumbo">
    </div>
  </div>
</div>

<div class="container event-show">
  <h1><%= "#{@comedian.first_name} #{@comedian.last_name}"%></h1>
  <hr>
  <div class="row">
    <div class="col-md-7 comedian-info-item">
      <p><%= "#{@comedian.description}" %></p>
  
      </p>
    </div> 
    <div class="col-md-1">
    </div>
    
    <div class="col-md-4">
      <img class="comedian-image" src="<%= @comedian.picture_url %>" height="466" width="349">
    </div>
  </div>  
  
  <div class="container">
  <h3>Other events by <%= "#{@comedian.first_name} #{@comedian.last_name}" %></h3>
    <div class="col-sm-6 col-md-4 other-event">
      <% @events.each do |event| %>
        <a href="/events/<%= event.id%>">  
          <div class="thumbnail">
            <img class="home-comedians" src="<%= event.picture_url %>" alt="...">
          </div>
        </a>  
      <%end%>  
    </div> 
  </div>
<hr>
</div>



