<div class="container jumbo-event">
  <div class="container">
    <div class="venue-jumbo">
    </div>
  </div>    
</div>

<div class="container event-show">
  <div class="row">
    <div class="col-md-7 info-item">
      <h1><%= "#{@venue.name}"%></h1>
      <p><%= "#{@venue.location} <br> #{@venue.phone_number}" %></p>
    </div> 
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <img class="comedian-image venue-image2" src="<%= @venue.picture_url %>" height="300" width="300">
    </div>
  </div>
<hr>
  <div class="venue-map">
    <div id="mymap"></div>
    <input id="address" type="hidden" value="<%= @venue.location %>">  
  </div>


  <div class="container">
  <h3 style="text-align:center;"><em>Other events at the <%= "#{@venue.name}" %></em></h3>
  <hr> 
  </div>  

  
  <div class="row">
      <% @events.each do |event| %>
      <div class="col-md-4 other-event">
          <h3><%= "#{event.name}"%></h3>        
          <a href="/events/<%= event.id%>">  
          <div class="thumbnail">
            <img class="home-comedians" src="<%= event.picture_url %>" alt="...">
          </div>
          </a>
 
       </div> 
      <%end%>  
  </div>
  
  
